@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

$font-family: 'Macondo', cursive;
$base-bg: #faebd7;
$base-bg-alt: #191d25;
$base-font: #222;
$green: #008000;
$green-alt: #008000cc;
$green-dark: #00c800;
$green-light: #c6f7c6;
$green-light-alt: #f0fff0;
$white: #fff;
$white-smoke: #f5f5f5;
$mild-red: #dc3545;
$dark-red: #ff0019;
$mild-blue-alt: #0d6efd;
$mild-blue: #0066ff;
$violet: #6c63ff;
$violet-alt: #544bff;
$mild-violet: #8882ff;
$gray: #d4d4d4;
$creator: #00c800;
$category: #746dff;
$deadline: #ff4658;

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

@keyframes slide_up {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(-100%);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide_down {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(100%);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dashboard_container {
  background: $base-bg;
  min-height: 100vh;
  width: 100%;
  padding-block: 5rem;
  padding-inline: 2%;

  .dashboard {
    width: 100%;
    color: $base-font;
    display: flex;
    align-items: flex-start;
    gap: 5%;

    article {
      width: 60%;
      padding-block: 3%;

      h1 {
        text-align: center;
      }

      .tasks {
        padding-block-start: 3%;

        ul {
          padding-block-end: 5%;
          padding-inline-start: 0;
          width: 100%;

          .task {
            list-style: none;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            background: $white-smoke;
            border-radius: 20px;
            margin-block-end: 10%;
            padding-inline: 2rem;
            padding-block: 2rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .task_details {
              width: 100%;
              display: flex;
              flex-direction: column;
              // align-items: center;
              justify-content: center;
              padding-block-end: 1rem;
              border-block-end: 1px solid $gray;

              .details {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
                padding-block-end: 0.5rem;

                .creator,
                .category,
                .deadline {
                  color: $white;
                  font-size: 0.8rem;
                  padding-inline: 1rem;
                  padding-block: 0.3rem;
                  border-radius: 0.8rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 0.5rem;
                }

                .creator {
                  background: $creator;

                }

                .category {
                  background: $category;
                }

                .deadline {
                  background: $deadline;
                }
              }
            }

            .interactive_div {
              width: 100%;
              display: flex;
              flex-direction: column;

              .interactive {
                width: 100%;
                margin-block: 1.5rem;
                color: $base-font;
                display: flex;
                gap: 2rem;

                .action_btns_wrapper {
                  user-select: none;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 1rem;


                  .action_btns_edit {
                    color: $violet;
                    transition: all 300ms ease-in;

                    &:hover {
                      background: $violet;
                      color: $base-bg;
                      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
                        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    }
                  }

                  .action_btns_delete {
                    color: $mild-red;
                    transition: all 700ms ease-in;

                    &:hover {
                      background: $mild-red;
                      color: $base-bg;
                      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
                        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    }
                  }

                  .action_btns_edit,
                  .action_btns_delete {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                    font-size: 1rem;
                    padding-block: 0.3rem;
                    padding-inline: 0.5rem;
                    border-radius: 1rem;

                    .title {
                      font-size: 0.7rem;
                    }

                    .action_btn {
                      border-radius: 50%;
                      width: 2rem;
                      height: 2rem;
                      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
                        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 1rem;
                    }

                  }
                }

                .add_comment {
                  width: 100%;
                  max-width: 500px;
                  background: $white;
                  margin-block: 1rem;
                  border-radius: 10px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
                    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

                  textarea {
                    min-height: 5rem;
                    border: none;
                    border-radius: 10px 10px 0 0;
                    padding: 0.7rem;
                    font-size: 0.85rem;
                    line-height: 1.1rem;

                    &:focus:invalid {
                      outline: 1px solid $mild-red;
                    }

                    &:focus:valid {
                      outline: 1px solid $green;
                    }
                  }

                  .comments_btn {
                    border: none;
                    outline: none;
                    background: $violet;
                    color: $white;
                    padding-block: 0.5rem;
                    border-radius: 0 0 10px 10px;
                    font-size: 0.8rem;

                    &:hover {
                      background: $violet-alt;

                    }
                  }
                }
              }

              .task_comments {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                overflow: hidden;
                transition: all 1s ease-in;

                .comment {
                  width: inherit;
                  background: white;
                  color: $base-bg-alt;
                  border-radius: 10px;
                  margin-block-end: 1rem;
                  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                  display: flex;

                  .vote {
                    min-width: 10%;
                    background: $green-light-alt;
                    color: $base-bg-alt;
                    padding-block: 1rem;
                    padding-inline: 0.5rem;
                    border-radius: 0 10px 10px 0;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    overflow: hidden;
                    transition: all 500ms ease-in;

                    .vote_count {
                      user-select: none;
                      font-size: 1.3rem;
                      font-weight: 600;
                      color: $base-bg-alt;
                      animation: pulse 500ms linear 100ms forwards;
                      transition: all 500ms ease-in;

                      &.positive {
                        color: $green-dark;
                        animation: pulse 500ms linear 100ms forwards;
                        transition: all 500ms ease-in;
                      }

                      &.negative {
                        color: $mild-red;
                        animation: slide_down 500ms linear 100ms forwards;
                        transition: all 500ms ease-in;
                      }
                    }

                    .vote_btn {
                      cursor: pointer;
                      color: $base-bg-alt;
                      font-size: 1.3rem;
                      transition: all 500ms ease-in;

                      &:hover:first-of-type {
                        color: $green;

                        &:active {
                          animation: pulse 500ms ease-in;
                        }
                      }

                      &:hover:last-of-type {
                        color: $mild-red;

                        &:active {
                          animation: pulse 500ms ease-in;
                        }
                      }
                    }
                  }

                  .comment_container {
                    min-width: 90%;
                    padding-block: 1rem;
                    padding-inline: 1rem;

                    .comment_content {
                      user-select: none;
                      color: $base-bg-alt;
                      font-size: 1rem;

                      p {

                        span {
                          font-family: 'Playfair Display', serif;
                          font-size: 1.5rem;
                          color: $violet;

                          &:first-child {
                            margin-inline-end: 0.2rem;
                          }

                          &:last-child {
                            margin-inline-start: 0.2rem;
                          }
                        }
                      }
                    }

                    .comment_details {
                      user-select: none;
                      padding-block: 0.5rem;
                      display: flex;
                      flex-wrap: wrap;
                      column-gap: 0.5rem;
                      row-gap: 1rem;
                      align-items: center;

                      .delete_comment,
                      .edit_comment {
                        cursor: pointer;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        margin-block-end: 1rem;
                        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
                          rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1rem;

                        &:hover {
                          box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 5px 4px;
                        }
                      }

                      .delete_comment {
                        background: $mild-red;
                        color: $white-smoke;
                      }

                      .edit_comment {
                        background: $violet;
                        color: $white-smoke;
                        margin-inline: 0.8rem;
                      }

                      .updateComment {
                        background-color: $white;
                        color: $base-bg-alt;
                        display: flex;
                        flex-wrap: wrap;
                        row-gap: 0.5rem;
                        margin-block-end: 1rem;
                        align-items: center;

                        textarea {
                          // max-width: 11rem;
                          border: none;
                          outline: 2px solid $gray;
                          border-radius: 1rem;
                          padding: 0.3rem;
                          text-indent: 0.3rem;

                          &:focus {
                            border: none;

                            &:invalid {
                              outline: 2px solid $mild-red;
                            }

                            &:valid {
                              outline: 2px solid $green;
                            }
                          }
                        }

                        .update_btn_edit,
                        .update_btn_close {
                          cursor: pointer;
                          width: 2rem;
                          height: 2rem;
                          padding: 0.3rem;
                          border-radius: 50%;
                          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
                            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                          display: flex;
                          align-items: center;
                          justify-content: center;

                          &:hover {
                            box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 5px 4px;
                          }
                        }

                        .update_btn_close {
                          color: $mild-red;

                          &:hover {
                            background: $mild-red;
                            color: $white-smoke;
                          }
                        }

                        .update_btn_edit {
                          margin-inline: 0.8rem;
                          color: $green-alt;

                          &:hover {
                            background: $green-alt;
                            color: $white-smoke;
                          }
                        }
                      }

                      .comment_name {
                        background: $violet;
                        color: $white-smoke;
                        font-size: 0.9rem;
                        word-spacing: 0.4rem;
                        padding-inline: 1rem;
                        padding-block: 0.4rem;
                        margin-block-end: 1rem;
                        margin-inline-end: 0.2rem;
                        border-radius: 1rem;

                        .comment_icon {
                          margin-inline-end: 0.5rem;
                          color: white;
                          font-weight: bolder;
                        }
                      }

                      .comment_time {
                        margin-block-end: 1rem;
                        font-size: 0.7rem;
                        color: rgba($color: $base-bg-alt, $alpha: 0.5);
                      }
                    }
                  }
                }

                .comment_toggle__btn {
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 1rem;
                  padding-block-end: 0.5rem;

                  span {
                    font-size: 1.1rem;

                    &:hover {
                      color: $violet;
                    }
                  }

                  .toggle_btn {
                    cursor: pointer;
                    margin-block: 1rem;
                    padding: 0.5rem;
                    color: $violet;
                    border-radius: 50%;
                    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
                      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;

                    &:hover {
                      background: $violet;
                      color: $base-bg;
                      box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 5px 4px;
                    }
                  }

                }

              }
            }
          }
        }
      }
    }

    aside {
      width: 40%;

      .aside_card {
        background-color: $base-bg-alt;
        color: $white-smoke;
        padding-block: 5%;
        border-radius: 10px;
        border-radius: 20px !important;
        box-shadow: inset rgba(80, 80, 120, 0.8) 100px 20px 100px -30px,
          inset rgba(245, 245, 245, 0.1) 0px 10px 100px 0px;

        .dashboard_form {
          padding-inline: 5%;
          margin-block: 1rem;

          .taskLabel {
            font-size: 1.25rem;
          }

          .dashboard_input,
          .taskBtn {
            padding: 2%;
            font-size: 1.1rem;
          }

          .taskBtn {
            margin-block-start: 2.5rem;
            margin-block-end: 1rem;
            background: $mild-blue-alt;
            color: $base-bg;
            border: none;
            transition: all 700ms ease-in;

            &:hover {
              background-color: $mild-blue;
              color: $white-smoke;
            }
          }
        }
      }
    }
  }
}

// MEDIA QUERY FOR 1000px SCREENS AND SMALLER
@media only screen and (max-width: 1000px) {
  .dashboard_container {
    background: $base-bg;
    min-height: 100vh;
    width: 100%;
    padding-block: 5%;
    padding-inline: 2%;

    .dashboard {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      article {
        order: 2;
        width: 100%;
      }

      aside {
        order: 1;
        width: 100%;
        margin-block: 5%;
      }
    }
  }
}

// MEDIA QUERY FOR 767px SCREENS AND SMALLER
@media only screen and (max-width: 767px) {
  .dashboard {
    .interactive {
      // flex-direction: column;
      flex-wrap: wrap;

      .action_btns_wrapper {
        justify-content: flex-end !important;


        .action_btns_edit,
        .action_btns_delete {

          &.title {
            order: 1;
          }

          & span {
            order: 2;
          }
        }

      }
    }
  }
}

// MEDIA QUERY FOR 500px SCREENS AND SMALLER
@media only screen and (max-width: 500px) {
  .dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    article {
      order: 2;
      width: 100%;

      .task_details {
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;

        h2,
        p {
          margin-block-end: 0 !important;
        }

        .name_div,
        .deadline {
          width: 100%;
          display: flex;
          align-items: center;
        }

        .name_div {
          flex-wrap: wrap;
          justify-content: space-between;


        }

        .deadline {
          flex-wrap: wrap;
          justify-content: flex-end;
          gap: 1rem;
        }
      }

      .vote {
        min-width: 15%;
      }
    }
  }
}

// MEDIA QUERY FOR 420px SCREENS AND SMALLER
@media only screen and (max-width: 420px) {
  .dashboard {
    .updateComment {

      textarea {
        max-width: 13.5rem;
      }
    }
  }
}

// MEDIA QUERY FOR 370px SCREENS AND SMALLER
@media only screen and (max-width: 370px) {
  .dashboard {
    .updateComment {

      textarea {
        max-width: 12.5rem;
      }
    }
  }
}