@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

$font-family: 'Macondo', cursive;
$base-bg: #faebd7;
$base-bg-alt: #191d25;
$base-font: #222;
$green: #008000;
$green-alt: rgba(0, 128, 0, 0.8);
$green-light: #c6f7c6;
$white-smoke: #f5f5f5;
$mild-red: #dc3545;
$dark-red: #ff0019;
$mild-blue-alt: #0d6efd;
$mild-blue: #0066ff;
$violet: #6c63ff;

.dashboard_container {
  background: $base-bg;
  min-height: 100vh;
  width: 100%;
  padding-block: 5%;
  padding-inline: 2%;

  .dashboard {
    width: 100%;
    color: $base-font;
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 3rem;

    article {
      background: $white-smoke;
      padding-block: 3%;

      h1 {
        text-align: center;
      }

      .tasks {
        padding-block-start: 3%;

        ul {
          background: $white-smoke;
          padding-inline: 5%;
          padding-block-end: 5%;
          width: 100%;

          li {
            list-style: none;
            margin-block-end: 5%;
            border-radius: 10px;
            padding-inline: 1rem;
            padding-block: 1.5rem;
            box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .name {
              font-size: 1.5rem;
            }

            .category {
              background: $violet;
              color: $white-smoke;
              padding-block: 0.3rem;
              padding-inline: 1rem;
              border-radius: 20px;
              font-size: 0.7rem;
            }

            .deadline {
              margin-left: auto;
              color: $mild-red;
              text-align: end;
              // font-weight: 500;

              span {
                background: $mild-red;
                color: $white-smoke;
                padding-block: 0.3rem;
                padding-inline: 1rem;
                border-radius: 20px;
                font-size: 0.7rem;
              }
            }

            .action_btns {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              padding-inline-start: 1rem;

              .action_btn {
                cursor: pointer;
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.7rem;
              }

              .action_btn:first-child {
                color: $violet;
                animation: all 700ms ease-in;

                &:hover {
                  font-size: 1rem;
                  background: $violet;
                  color: $base-bg;
                  box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 5px 4px;
                }
              }

              .action_btn:last-child {
                color: $mild-red;
                animation: all 700ms ease-in;

                &:hover {
                  font-size: 1rem;
                  background: $mild-red;
                  color: $base-bg;
                  box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 5px 4px;
                }
              }
            }
          }
        }
      }
    }
    aside {
      .aside_card {
        background-color: $base-bg-alt;
        color: $white-smoke;
        padding-block: 5%;
        border-radius: 10px;
        border-radius: 20px !important;
        box-shadow: inset rgba(80, 80, 120, 0.8) 100px 20px 100px -30px,
          inset rgba(245, 245, 245, 0.1) 0px 10px 100px 0px;

        .dashboard_form {
          padding-inline: 5%;
          margin-block: 1rem;

          .taskLabel {
            font-size: 1.25rem;
          }

          .dashboard_input,
          .taskBtn {
            padding: 2%;
            font-size: 1.1rem;
          }

          .taskBtn {
            margin-block-start: 2.5rem;
            margin-block-end: 1rem;
            background: $mild-blue-alt;
            color: $base-bg;
            border: none;
            animation: all 700ms ease-in;

            &:hover {
              background-color: $mild-blue;
              color: $white-smoke;
            }
          }
        }
      }
    }
  }
}

// MEDIA QUERY FOR 1000px SCREENS AND SMALLER
@media only screen and (max-width: 1000px) {
  .dashboard_container {
    min-height: 100vh;
    width: 100%;

    .dashboard {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      grid-template-areas:
        'aside'
        'article';
    }

    article,
    aside {
      width: 100%;
    }

    article {
      grid-area: article;
    }
    aside {
      grid-area: aside;
    }
  }

  // MEDIA QUERY FOR 767px SCREENS AND SMALLER
  @media only screen and (max-width: 767px) {
    .name_div {
      max-width: 18ch;
    }
  }

  // MEDIA QUERY FOR 500px SCREENS AND SMALLER
  @media only screen and (max-width: 500px) {
    article {
      grid-area: article;

      li {
        flex-direction: column;
        gap: 1rem;

        .name_div {
          min-width: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .deadline {
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          p {
            margin-block-end: 0.3rem;
          }
        }

        .action_btns {
          padding-inline: 0 !important;
          flex-direction: row !important;
          gap: 2rem !important;
        }
      }
    }
    aside {
      grid-area: aside;

      .dashboard_form {
        padding-inline: 0 !important;
      }
    }
  }
}
