@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.error_page_container {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: rgba(245, 222, 179, 0.3);
  color: #222;
  font-family: 'Macondo', cursive;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: #f50057;
    font-size: 3rem;
  }
}
